* {
    margin: 0;
  }
  
  body {
    background-color: #2e5253;
    margin: 0;
    background-image: url('https://media.istockphoto.com/id/670957540/fr/photo/caf%C3%A9-et-un-croissant.jpg?s=612x612&w=0&k=20&c=eORcVs7y60BNzoWOsKARkQLb19oh-kUHU3l3MstV2PY=');
   background-size: cover;
   background-repeat: no-repeat;
  }
  
  #content {
    
    margin: 0 auto;
    max-width: 1000px;
    min-width: 360px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  p,
  h1,
  button {
    font-family: roboto-regular;
  }
  
  p,
  h1 {
    color: rgb(214, 222, 224);
    padding-bottom: 20px;
  }
  
  p,
  button {
    font-size: 1.1em;
  }
  
  p,
  h1,
  img {
    padding-left: 40px;
    padding-right: 40px;
    background-size: cover;
    width: 100%;
  }
  
  h1 {
    padding-top: 40px;
  }
  
  nav {
    background-color: #25323b;
    margin: 0;
    height: 45px;
    display: flex;
    justify-content: center;
  }
  
  button {
    border-radius: 0;
    border: none;
    color: white;
    background-color: #4a5e6d;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  button:hover {
    background-color: #509cb9;
  }
 h1, ul,li{
    list-style: none;
    font-style: italic;
    align-items: center;
  }
  h1{
    align-items: center;
    justify-content: center;
  }